USE [Deposito]
GO
/****** Object:  Table [dbo].[ACTIVO]    Script Date: 29/07/2019 1:34:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVO](
	[COD_ACTIVO] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_ALTA] [date] NOT NULL,
	[NRO_INVENTARIO] [nvarchar](50) NULL,
	[NRO_SERIE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NOT NULL,
	[COD_SECTOR] [int] NOT NULL,
	[COD_UBICACION] [int] NOT NULL,
	[COD_ESTADO] [int] NOT NULL,
	[COD_TIPO_ACTIVO] [int] NOT NULL,
	[COD_MARCA] [int] NOT NULL,
	[COD_ORGANIZACION] [int] NOT NULL,
	[MONEDA] [nvarchar](50) NULL,
	[VALOR_COMPRA] [float] NULL,
	[VALOR_SOPORTE] [float] NULL,
	[FECHA_COMPRA] [date] NULL,
	[PERIODO_GARANTIA] [float] NULL,
	[VOLUMEN] [int] NULL,
	[OBSERVACIONES] [varchar](max) NULL,
 CONSTRAINT [PK_ACTIVO] PRIMARY KEY CLUSTERED 
(
	[COD_ACTIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACTIVO_COMPONENTE]    Script Date: 29/07/2019 1:34:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVO_COMPONENTE](
	[ACTIVO_COMPUESTO] [int] NOT NULL,
	[ACTIVO_COMPONENTE] [int] NOT NULL,
 CONSTRAINT [PK_ACTIVO_COMPONENTE] PRIMARY KEY CLUSTERED 
(
	[ACTIVO_COMPUESTO] ASC,
	[ACTIVO_COMPONENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACTIVO_ESTADO]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVO_ESTADO](
	[COD_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ACTIVO.ESTADO] PRIMARY KEY CLUSTERED 
(
	[COD_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACTIVO_MARCA]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVO_MARCA](
	[COD_MARCA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION_MARCA] [nvarchar](255) NULL,
 CONSTRAINT [PK_ACTIVO.MARCA] PRIMARY KEY CLUSTERED 
(
	[COD_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACTIVO_TIPO_DE_ACTIVO]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVO_TIPO_DE_ACTIVO](
	[COD_TIPO_ACTIVO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION_TIPO_DE_ACTIVO] [nchar](255) NOT NULL,
	[VOLUMEN_OCUPADO] [int] NULL,
 CONSTRAINT [PK_ACTIVO.TIPO_DE_ACTIVO] PRIMARY KEY CLUSTERED 
(
	[COD_TIPO_ACTIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACTIVO_UBICACION]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVO_UBICACION](
	[COD_UBICACION] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](255) NOT NULL,
	[DIRECCION] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ACTIVO_UBICACION] PRIMARY KEY CLUSTERED 
(
	[COD_UBICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activos$]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activos$](
	[ID] [float] NULL,
	[FECHA_ALTA] [datetime] NULL,
	[FECHA_ESTADO] [datetime] NULL,
	[NRO_INVENTARIO] [nvarchar](255) NULL,
	[NRO_SERIE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
	[CC] [nvarchar](255) NULL,
	[SECTOR] [nvarchar](255) NULL,
	[UBICACION] [nvarchar](255) NULL,
	[DIRECCION] [nvarchar](255) NULL,
	[NOMBRE_ESTADO] [nvarchar](255) NULL,
	[DESCRIPCION_TIPO_DE_ACTIVO] [nvarchar](255) NULL,
	[DESCRIPCION_MARCA] [nvarchar](255) NULL,
	[DESCRIPCION_ORGANIZACION] [nvarchar](255) NULL,
	[DESCRIPCION_TIPO_MONEDA] [nvarchar](255) NULL,
	[I_COSTO] [float] NULL,
	[VALOR_COMPRA] [float] NULL,
	[VALOR_SOPORTE] [float] NULL,
	[FECHA_COMPRA] [datetime] NULL,
	[FECHA_INICIO] [datetime] NULL,
	[PERIODO_CONTABLE] [float] NULL,
	[PERIODO_REAL] [float] NULL,
	[VALOR_CONTABLE] [float] NULL,
	[VALOR_REAL] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASIGNACION_USUARIO_INTERNO]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACION_USUARIO_INTERNO](
	[COD_USUARIO_ASIGNADO] [int] NOT NULL,
	[COD_ACTIVO] [int] NOT NULL,
	[FX_ASIGNACION] [date] NULL,
	[DVH] [nvarchar](255) NULL,
 CONSTRAINT [PK_ASIGNACION_ACTIVO] PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO_ASIGNADO] ASC,
	[COD_ACTIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BACKUP_BITACORA]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACKUP_BITACORA](
	[COD_BACKUP] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [nvarchar](50) NULL,
	[UBICACION] [nvarchar](max) NULL,
	[COD_USUARIO] [nvarchar](50) NULL,
 CONSTRAINT [PK_BACKUP_DEPOSITO] PRIMARY KEY CLUSTERED 
(
	[COD_BACKUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BITACORA]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA](
	[COD_BITACORA] [int] IDENTITY(1,1) NOT NULL,
	[EVENTO] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[DESCRIPCION] [nvarchar](max) NOT NULL,
	[COD_USUARIO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[COD_BITACORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPOSITO]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPOSITO](
	[COD_DEPOSITO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](255) NOT NULL,
	[CAPACIDAD] [int] NOT NULL,
	[COD_UBICACION] [int] NOT NULL,
 CONSTRAINT [PK_DEPOSITO] PRIMARY KEY CLUSTERED 
(
	[COD_DEPOSITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVV]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVV](
	[NOMBRE_TABLA] [nvarchar](50) NOT NULL,
	[DVV] [nvarchar](50) NULL,
 CONSTRAINT [PK_DVV] PRIMARY KEY CLUSTERED 
(
	[NOMBRE_TABLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDIOMA]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDIOMA](
	[COD_IDIOMA] [nvarchar](50) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
 CONSTRAINT [PK_IDIOMA] PRIMARY KEY CLUSTERED 
(
	[COD_IDIOMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEYENDA]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEYENDA](
	[COD_LEYENDA] [nvarchar](max) NOT NULL,
	[COD_IDIOMA] [nvarchar](50) NOT NULL,
	[VALOR] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORGANIZACION]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORGANIZACION](
	[COD_ORGANIZACION] [int] IDENTITY(1,1) NOT NULL,
	[RAZON_SOCIAL] [nvarchar](255) NOT NULL,
	[CUIT] [int] NULL,
	[DIRECCION] [varchar](50) NULL,
	[COD_POSTAL] [varchar](10) NULL,
	[CIUDAD] [varchar](50) NULL,
	[TELEFONO] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[CONTACTO] [varchar](50) NULL,
 CONSTRAINT [PK_ORGANIZACION] PRIMARY KEY CLUSTERED 
(
	[COD_ORGANIZACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[COD_PERMISO] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
	[ES_ACCION] [bit] NOT NULL,
 CONSTRAINT [PK_PERMISO] PRIMARY KEY CLUSTERED 
(
	[COD_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO_PERMISO]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO_PERMISO](
	[COD_PERMISO_PADRE] [int] NOT NULL,
	[COD_PERMISO_HIJO] [int] NOT NULL,
 CONSTRAINT [PK_PERMISO_PERMISO] PRIMARY KEY CLUSTERED 
(
	[COD_PERMISO_PADRE] ASC,
	[COD_PERMISO_HIJO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESUPUESTO_REPARACION]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESUPUESTO_REPARACION](
	[COD_PRESUPUESTO] [int] IDENTITY(1,1) NOT NULL,
	[COD_PROVEEDOR] [int] NOT NULL,
	[FECHA_PRESUPUESTO] [date] NOT NULL,
	[FECHA_VALIDEZ] [date] NOT NULL,
	[TIEMPO_ESTIMADO_REPARACION] [int] NULL,
	[COTIZACION] [float] NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[COD_REPARACION] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROPIEDADES_PC]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPIEDADES_PC](
	[NRO_INVENTARIO] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](255) NOT NULL,
	[FECHA] [datetime] NULL,
	[SO] [nvarchar](255) NULL,
	[VERSION_SO] [float] NULL,
	[IP] [nvarchar](255) NULL,
	[PROCESADOR] [nvarchar](255) NULL,
	[VELOCIDAD_MHZ] [float] NULL,
	[MEMORIA] [nvarchar](255) NULL,
	[ESTADO] [nvarchar](255) NULL,
 CONSTRAINT [PK_PROPIEDADES_PC] PRIMARY KEY CLUSTERED 
(
	[NRO_INVENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[COD_PROVEEDOR] [int] IDENTITY(1,1) NOT NULL,
	[RAZON_SOCIAL] [nvarchar](255) NULL,
	[CUIT] [nvarchar](255) NOT NULL,
	[DIRECCION] [nvarchar](255) NULL,
	[TELEFONO] [nvarchar](255) NULL,
	[ESTADO] [nvarchar](255) NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[COD_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPARACION]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPARACION](
	[COD_REPARACION] [int] IDENTITY(1,1) NOT NULL,
	[COD_ACTIVO] [int] NOT NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[OBSERVACIONES] [nvarchar](max) NULL,
	[ESTADO] [bit] NOT NULL,
	[COSTO_FLETE] [float] NULL,
	[MONEDA] [bit] NULL,
	[FECHA_TRASLADO] [date] NULL,
	[FECHA_RECEPCION] [date] NULL,
	[FECHA_SOLICITUD] [date] NULL,
	[FECHA_FINALIZACION] [date] NULL,
	[TICKET_SOPORTE] [int] NULL,
 CONSTRAINT [PK_REPARACION] PRIMARY KEY CLUSTERED 
(
	[COD_REPARACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPARACION_REEMPLAZO_TEMPORAL]    Script Date: 29/07/2019 1:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPARACION_REEMPLAZO_TEMPORAL](
	[COD_ACTIVO] [int] NOT NULL,
	[COD_REPARACION] [int] NOT NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[FECHA_FIN] [date] NULL,
	[DESCRIPCION] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECTOR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECTOR](
	[COD_SECTOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_SECTOR] [nvarchar](255) NOT NULL,
	[CENTRO_COSTO] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_SECTOR] PRIMARY KEY CLUSTERED 
(
	[COD_SECTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[COD_USUARIO] [nvarchar](50) NOT NULL,
	[CLAVE] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](256) NOT NULL,
	[INTENTOS_FALLIDOS] [int] NULL,
	[BLOQUEADO] [bit] NOT NULL,
	[COD_IDIOMA] [nvarchar](50) NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[DVH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_HW]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_HW](
	[COD_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[COD_ORGANIZACION] [int] NULL,
 CONSTRAINT [PK_USUARIO_ASIGNADO] PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_PERMISO]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_PERMISO](
	[COD_USUARIO] [nvarchar](50) NOT NULL,
	[COD_PERMISO] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO_PERMISO] PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC,
	[COD_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOH]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COD_USUARIO] [nvarchar](50) NOT NULL,
	[CLAVE] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](256) NOT NULL,
	[INTENTOS_FALLIDOS] [int] NOT NULL,
	[BLOQUEADO] [bit] NOT NULL,
	[COD_IDIOMA] [nvarchar](50) NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[DVH] [nvarchar](50) NOT NULL,
	[USUARIO_MODIFICADOR] [nvarchar](50) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[TIPO_MODIFICACION] [int] NOT NULL,
 CONSTRAINT [PK_USUARIOH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BITACORA] ADD  CONSTRAINT [DF_BITACORA_EVENTO]  DEFAULT ((1)) FOR [EVENTO]
GO
ALTER TABLE [dbo].[PRESUPUESTO_REPARACION] ADD  CONSTRAINT [DF_PRESUPUESTO_REPARACION_COTIZACION]  DEFAULT ((0)) FOR [COTIZACION]
GO
ALTER TABLE [dbo].[PRESUPUESTO_REPARACION] ADD  CONSTRAINT [DF_PRESUPUESTO_REPARACION_ESTADO]  DEFAULT ((0)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[REPARACION] ADD  CONSTRAINT [DF_REPARACION_ESTADO]  DEFAULT ((0)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[REPARACION] ADD  CONSTRAINT [DF_REPARACION_MONEDA]  DEFAULT ((0)) FOR [MONEDA]
GO
ALTER TABLE [dbo].[REPARACION] ADD  CONSTRAINT [DF_REPARACION_TICKET_SOPORTE]  DEFAULT ((0)) FOR [TICKET_SOPORTE]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_ESTADO]  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[USUARIOH] ADD  CONSTRAINT [DF_USUARIOH_TIPO_MODIFICACION]  DEFAULT ((3)) FOR [TIPO_MODIFICACION]
GO
ALTER TABLE [dbo].[ACTIVO]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVO_ACTIVO_ESTADO] FOREIGN KEY([COD_ESTADO])
REFERENCES [dbo].[ACTIVO_ESTADO] ([COD_ESTADO])
GO
ALTER TABLE [dbo].[ACTIVO] CHECK CONSTRAINT [FK_ACTIVO_ACTIVO_ESTADO]
GO
ALTER TABLE [dbo].[ACTIVO]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVO_ACTIVO_MARCA] FOREIGN KEY([COD_MARCA])
REFERENCES [dbo].[ACTIVO_MARCA] ([COD_MARCA])
GO
ALTER TABLE [dbo].[ACTIVO] CHECK CONSTRAINT [FK_ACTIVO_ACTIVO_MARCA]
GO
ALTER TABLE [dbo].[ACTIVO]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVO_ACTIVO_TIPO_DE_ACTIVO] FOREIGN KEY([COD_TIPO_ACTIVO])
REFERENCES [dbo].[ACTIVO_TIPO_DE_ACTIVO] ([COD_TIPO_ACTIVO])
GO
ALTER TABLE [dbo].[ACTIVO] CHECK CONSTRAINT [FK_ACTIVO_ACTIVO_TIPO_DE_ACTIVO]
GO
ALTER TABLE [dbo].[ACTIVO]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVO_ACTIVO_UBICACION] FOREIGN KEY([COD_UBICACION])
REFERENCES [dbo].[ACTIVO_UBICACION] ([COD_UBICACION])
GO
ALTER TABLE [dbo].[ACTIVO] CHECK CONSTRAINT [FK_ACTIVO_ACTIVO_UBICACION]
GO
ALTER TABLE [dbo].[ACTIVO]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVO_ORGANIZACION] FOREIGN KEY([COD_ORGANIZACION])
REFERENCES [dbo].[ORGANIZACION] ([COD_ORGANIZACION])
GO
ALTER TABLE [dbo].[ACTIVO] CHECK CONSTRAINT [FK_ACTIVO_ORGANIZACION]
GO
ALTER TABLE [dbo].[ACTIVO]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVO_SECTOR_ORGANIZACION] FOREIGN KEY([COD_SECTOR])
REFERENCES [dbo].[SECTOR] ([COD_SECTOR])
GO
ALTER TABLE [dbo].[ACTIVO] CHECK CONSTRAINT [FK_ACTIVO_SECTOR_ORGANIZACION]
GO
ALTER TABLE [dbo].[ACTIVO_COMPONENTE]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVO_COMPONENTE_ACTIVO] FOREIGN KEY([ACTIVO_COMPUESTO])
REFERENCES [dbo].[ACTIVO] ([COD_ACTIVO])
GO
ALTER TABLE [dbo].[ACTIVO_COMPONENTE] CHECK CONSTRAINT [FK_ACTIVO_COMPONENTE_ACTIVO]
GO
ALTER TABLE [dbo].[ACTIVO_COMPONENTE]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVO_COMPONENTE_ACTIVO1] FOREIGN KEY([ACTIVO_COMPONENTE])
REFERENCES [dbo].[ACTIVO] ([COD_ACTIVO])
GO
ALTER TABLE [dbo].[ACTIVO_COMPONENTE] CHECK CONSTRAINT [FK_ACTIVO_COMPONENTE_ACTIVO1]
GO
ALTER TABLE [dbo].[ASIGNACION_USUARIO_INTERNO]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_ACTIVO_ACTIVO] FOREIGN KEY([COD_ACTIVO])
REFERENCES [dbo].[ACTIVO] ([COD_ACTIVO])
GO
ALTER TABLE [dbo].[ASIGNACION_USUARIO_INTERNO] CHECK CONSTRAINT [FK_ASIGNACION_ACTIVO_ACTIVO]
GO
ALTER TABLE [dbo].[ASIGNACION_USUARIO_INTERNO]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_ACTIVO_USUARIO_INTERNO] FOREIGN KEY([COD_USUARIO_ASIGNADO])
REFERENCES [dbo].[USUARIO_HW] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[ASIGNACION_USUARIO_INTERNO] CHECK CONSTRAINT [FK_ASIGNACION_ACTIVO_USUARIO_INTERNO]
GO
ALTER TABLE [dbo].[BACKUP_BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_BACKUP_DEPOSITO_USUARIO] FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[BACKUP_BITACORA] CHECK CONSTRAINT [FK_BACKUP_DEPOSITO_USUARIO]
GO
ALTER TABLE [dbo].[LEYENDA]  WITH CHECK ADD  CONSTRAINT [FK_LEYENDA_IDIOMA] FOREIGN KEY([COD_IDIOMA])
REFERENCES [dbo].[IDIOMA] ([COD_IDIOMA])
GO
ALTER TABLE [dbo].[LEYENDA] CHECK CONSTRAINT [FK_LEYENDA_IDIOMA]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_IDIOMA] FOREIGN KEY([COD_IDIOMA])
REFERENCES [dbo].[IDIOMA] ([COD_IDIOMA])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_IDIOMA]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTIVO_AGREGAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ACTIVO_AGREGAR]
@codigo int,
@fecha_alta datetime,
@nro_inventario varchar(50),
@nro_serie varchar(255),
@descripcion varchar(255),
@sector int,
@ubicacion int,
@estado int,
@tipo int,
@marca int,
@organizacion int,
@moneda varchar(10),
@valor_compra float,
@valor_soporte float,
@fecha_compra datetime,
@periodo_garantia float,
@volumen int,
@observaciones varchar(max)
as
insert into ACTIVO
values
(@fecha_alta,
@nro_inventario,
@nro_serie,
@descripcion,
@sector,
@ubicacion,
@estado,
@tipo,
@marca,
@organizacion,
@moneda,
@valor_compra,
@valor_soporte,
@fecha_compra,
@periodo_garantia,
@volumen,
@observaciones)




GO
/****** Object:  StoredProcedure [dbo].[SP_ACTIVO_ELIMINAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ACTIVO_ELIMINAR]
@codigo int
as
delete ACTIVO
where COD_ACTIVO=@codigo
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTIVO_ESTADO_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[SP_ACTIVO_ESTADO_LISTAR]
  as 
  select * from ACTIVO_ESTADO
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTIVO_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[SP_ACTIVO_LISTAR]
  as
  select * from ACTIVO
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTIVO_MARCA_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ACTIVO_MARCA_LISTAR]
  as
  select * from ACTIVO_MARCA
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTIVO_MODIFICAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ACTIVO_MODIFICAR]
@codigo int,
@fecha_alta datetime,
@nro_inventario varchar(50),
@nro_serie varchar(255),
@descripcion varchar(255),
@sector int,
@ubicacion int,
@estado int,
@tipo int,
@marca int,
@organizacion int,
@moneda varchar(10),
@valor_compra float,
@valor_soporte float,
@fecha_compra datetime,
@periodo_garantia float,
@volumen int,
@observaciones varchar(max)
as
update ACTIVO
set FECHA_ALTA=@fecha_alta,
NRO_INVENTARIO=@nro_inventario,
NRO_SERIE=@nro_serie,
DESCRIPCION=@descripcion,
COD_SECTOR=@sector,
COD_UBICACION=@ubicacion,
COD_ESTADO=@estado,
COD_TIPO_ACTIVO=@tipo,
COD_MARCA=@marca,
COD_ORGANIZACION=@organizacion,
MONEDA=@moneda,
VALOR_COMPRA=@valor_compra,
VALOR_SOPORTE=@valor_soporte,
FECHA_COMPRA=@fecha_compra,
PERIODO_GARANTIA=@periodo_garantia,
VOLUMEN=@volumen,
OBSERVACIONES=@observaciones
where COD_ACTIVO=@codigo



GO
/****** Object:  StoredProcedure [dbo].[SP_ACTIVO_TIPO_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ACTIVO_TIPO_LISTAR]
  as
  select * from ACTIVO_TIPO_DE_ACTIVO
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTIVO_UBICACION_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ACTIVO_UBICACION_LISTAR]
  as
  select * from ACTIVO_UBICACION
GO
/****** Object:  StoredProcedure [dbo].[SP_BACKUP_REALIZAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_BACKUP_REALIZAR]
@UBICACION nvarchar(max)
as
BACKUP DATABASE [Deposito] TO  DISK = @UBICACION WITH NOFORMAT, NOINIT, SKIP, NOREWIND, NOUNLOAD,  STATS = 10

GO
/****** Object:  StoredProcedure [dbo].[SP_BITACORA_AGREGAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_BITACORA_AGREGAR]
@EVENTO int,
@FECHA datetime,
@DESCRIPCION nvarchar(max),
@COD_USUARIO nvarchar(50)
as
INSERT INTO [dbo].[BITACORA]
VALUES
(@EVENTO
,@FECHA
,@DESCRIPCION
,@COD_USUARIO)
GO
/****** Object:  StoredProcedure [dbo].[SP_BITACORA_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_BITACORA_LISTAR]
as
SELECT *
FROM [Deposito].[dbo].[BITACORA]
order by FECHA desc
GO
/****** Object:  StoredProcedure [dbo].[SP_ESTADO_REPARACION_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ESTADO_REPARACION_LISTAR]
as
select * from REPARACION_ESTADO
GO
/****** Object:  StoredProcedure [dbo].[SP_IDIOMA_AGREGAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_IDIOMA_AGREGAR]
@codIdioma nvarchar(50),
@descripcion nvarchar(max)
as
INSERT INTO [dbo].[IDIOMA]
           ([COD_IDIOMA]
           ,[DESCRIPCION])
     VALUES
           (@codIdioma,@descripcion)

GO
/****** Object:  StoredProcedure [dbo].[SP_IDIOMA_ELIMINAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_IDIOMA_ELIMINAR]
@codIdioma	nvarchar(50)
as
DELETE FROM [dbo].[LEYENDA] where COD_IDIOMA=@codIdioma and COD_IDIOMA<>'Predeterminado';
DELETE FROM [dbo].[IDIOMA] WHERE COD_IDIOMA=@CODIDIOMA and COD_IDIOMA<>'Predeterminado';
GO
/****** Object:  StoredProcedure [dbo].[SP_IDIOMA_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_IDIOMA_LISTAR]
as
select * from [dbo].[IDIOMA]



GO
/****** Object:  StoredProcedure [dbo].[SP_LEYENDA_AGREGAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_LEYENDA_AGREGAR]
@codLeyenda nvarchar(max),
@codIdioma nvarchar(50),
@valor nvarchar(max)
as
INSERT INTO [dbo].[LEYENDA]
           ([COD_LEYENDA]
           ,[COD_IDIOMA]
           ,[VALOR])
     VALUES
           (@codLeyenda
           ,@codIdioma
           ,@valor)

GO
/****** Object:  StoredProcedure [dbo].[SP_LEYENDA_REGISTRAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_LEYENDA_REGISTRAR]
@codLeyenda nvarchar(max)
as
begin
declare @contador int
set @contador = (select count(*) from LEYENDA where COD_LEYENDA=@codLeyenda and COD_IDIOMA='Predeterminado')

if @contador=0
begin
	INSERT INTO [dbo].[LEYENDA]([COD_LEYENDA],[COD_IDIOMA],[VALOR])
	VALUES (@codLeyenda,'Predeterminado',@codLeyenda)
end

end
GO
/****** Object:  StoredProcedure [dbo].[SP_LEYENDAS_POR_IDIOMA]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_LEYENDAS_POR_IDIOMA]
@codIdioma nvarchar(50)
as
select * from LEYENDA where COD_IDIOMA=@CODIDIOMA

GO
/****** Object:  StoredProcedure [dbo].[SP_ORGANIZACION_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[SP_ORGANIZACION_LISTAR]
  as
  select * from ORGANIZACION
GO
/****** Object:  StoredProcedure [dbo].[SP_PERMISO_AGREGAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_PERMISO_AGREGAR]
@codigoPermiso int, 
@nombre nvarchar(50),
@descripcion nvarchar(255)
as
INSERT INTO [dbo].[PERMISO]
     VALUES
           (@codigoPermiso,@nombre,@descripcion,0)

GO
/****** Object:  StoredProcedure [dbo].[SP_PERMISO_AGREGAR_HIJO]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_PERMISO_AGREGAR_HIJO]
@codigoPadre int,
@codigoHijo int
as
INSERT INTO PERMISO_PERMISO VALUES(@codigoPadre, @codigoHijo)

GO
/****** Object:  StoredProcedure [dbo].[SP_PERMISO_ELIMINAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_PERMISO_ELIMINAR]
@codigoPermiso int
as
DELETE FROM PERMISO_PERMISO WHERE COD_PERMISO_PADRE=@codigoPermiso;
DELETE FROM PERMISO WHERE COD_PERMISO=@codigoPermiso and ES_ACCION=0;

GO
/****** Object:  StoredProcedure [dbo].[SP_PERMISO_ELIMINAR_HIJO]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_PERMISO_ELIMINAR_HIJO]
@codigoPadre int,
@codigoHijo int
as
DELETE FROM PERMISO_PERMISO WHERE COD_PERMISO_PADRE=@codigoPadre AND COD_PERMISO_HIJO=@codigoHijo;

GO
/****** Object:  StoredProcedure [dbo].[SP_PERMISO_ELIMINAR_HIJOS]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_PERMISO_ELIMINAR_HIJOS]
@codigoPadre int
as
DELETE FROM PERMISO_PERMISO WHERE COD_PERMISO_PADRE=@codigoPadre;
GO
/****** Object:  StoredProcedure [dbo].[SP_PERMISO_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_PERMISO_LISTAR]
as
SELECT * FROM PERMISO
ORDER BY COD_PERMISO ASC;
GO
/****** Object:  StoredProcedure [dbo].[SP_PERMISO_LISTAR_HIJOS]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_PERMISO_LISTAR_HIJOS]
  @codigoPadre int
  as
  SELECT p.* FROM PERMISO P
  inner join PERMISO_PERMISO PP on p.COD_PERMISO=pp.COD_PERMISO_HIJO
  WHERE (COD_PERMISO_PADRE = @codigoPadre) 
  ORDER BY COD_PERMISO_HIJO ASC;
GO
/****** Object:  StoredProcedure [dbo].[SP_PERMISO_MODIFICAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_PERMISO_MODIFICAR]
@codigoPermiso int,
@nombre nvarchar(50), 
@descripcion nvarchar(255)
as
UPDATE [dbo].[PERMISO]
SET 
NOMBRE=@nombre, 
DESCRIPCION=@descripcion
WHERE COD_PERMISO=@codigoPermiso
and ES_ACCION=0;

GO
/****** Object:  StoredProcedure [dbo].[SP_PERMISO_PROXIMO_ID]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_PERMISO_PROXIMO_ID]
as
select max(COD_PERMISO)+1 from PERMISO
GO
/****** Object:  StoredProcedure [dbo].[SP_PROVEEDOR_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_PROVEEDOR_LISTAR]
as
select * from PROVEEDOR
GO
/****** Object:  StoredProcedure [dbo].[SP_REPARACION_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_REPARACION_LISTAR]
as
select * from REPARACION
GO
/****** Object:  StoredProcedure [dbo].[SP_SECTOR_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_SECTOR_LISTAR]
  as
  select * from SECTOR
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIO_AGREGAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_USUARIO_AGREGAR]
@nombre nvarchar(50),
 @clave nvarchar(50), 
 @email nvarchar(256), 
 @intentosFallidos int, 
 @bloqueado bit, 
 @idioma nvarchar(50), 
 @estado bit,
 @usuarioModificador nvarchar(50),
 @dvh nvarchar(50)
as
BEGIN
INSERT INTO [dbo].[USUARIO]
           ([COD_USUARIO]
           ,[CLAVE]
           ,[EMAIL]
           ,[INTENTOS_FALLIDOS]
           ,[BLOQUEADO]
           ,[COD_IDIOMA]
		   ,[ESTADO]
		   ,[DVH])
     VALUES
	 (@nombre, @clave, @email, @intentosFallidos, @bloqueado, @idioma, @estado,@dvh);

INSERT INTO [dbo].[USUARIOH]
select *, @usuarioModificador as USUARIO_MODIFICADOR, getdate() as FECHA,1 as TIPO_MODIFICACION from USUARIO where COD_USUARIO=@nombre;

END        
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIO_AGREGAR_PERMISO]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_USUARIO_AGREGAR_PERMISO]
@codigoUsuario nvarchar(50),
@codigoPermiso int
as
begin

INSERT INTO [dbo].[USUARIO_PERMISO]
           ([COD_USUARIO]
           ,[COD_PERMISO])
VALUES
(@codigoUsuario,@codigoPermiso);

end
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIO_ELIMINAR_PERMISOS]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_USUARIO_ELIMINAR_PERMISOS]
@nombre nvarchar(50)
as
DELETE FROM [dbo].[USUARIO_PERMISO]
      WHERE COD_USUARIO=@nombre;
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIO_HW_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_USUARIO_HW_LISTAR]
as
select * from USUARIO_HW
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIO_LISTAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_USUARIO_LISTAR]
as
SELECT COD_USUARIO as Nombre, Clave, Email, INTENTOS_FALLIDOS as IntentosFallidos, Bloqueado, COD_IDIOMA as Idioma,Estado,DVH
FROM USUARIO where ESTADO=1
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIO_LISTAR_HISTORICO]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_USUARIO_LISTAR_HISTORICO]
as
SELECT ID, COD_USUARIO as Nombre, Clave, Email, INTENTOS_FALLIDOS as IntentosFallidos, Bloqueado, COD_IDIOMA as Idioma,Estado,DVH,USUARIO_MODIFICADOR,FECHA, TIPO_MODIFICACION
FROM USUARIOH
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIO_LISTAR_PERMISOS]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_USUARIO_LISTAR_PERMISOS]
@codigoUsuario nvarchar(50)
as
select * from USUARIO_PERMISO where COD_USUARIO=@codigoUsuario;
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIO_LISTAR_PERMISOS_HISTORICO]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_USUARIO_LISTAR_PERMISOS_HISTORICO]
@codigoHistorico nvarchar(50)
as
select * from USUARIO_PERMISOH where ID=@codigoHistorico;
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIO_MODIFICAR]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_USUARIO_MODIFICAR]
@nombre nvarchar(50),
@email nvarchar(256), 
@intentosFallidos int, 
@bloqueado bit, 
@idioma nvarchar(50), 
@estado bit,
@usuarioModificador nvarchar(50)
as
begin

UPDATE [dbo].[USUARIO]
SET 
EMAIL=@email, 
INTENTOS_FALLIDOS=@intentosFallidos, 
BLOQUEADO=@bloqueado, 
COD_IDIOMA=@idioma, 
ESTADO=@estado
WHERE COD_USUARIO=@nombre;

INSERT INTO [dbo].[USUARIOH]
select *, @usuarioModificador as USUARIO_MODIFICADOR, getdate() as FECHA, iif(ESTADO=1,3,2) as TIPO_MODIFICACION from USUARIO where COD_USUARIO=@nombre;

end
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIO_MODIFICAR_CLAVE]    Script Date: 29/07/2019 1:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_USUARIO_MODIFICAR_CLAVE]
@nombre nvarchar(50),
@clave nvarchar(50), 
@usuarioModificador nvarchar(50)
as
begin

UPDATE [dbo].[USUARIO]
SET 
CLAVE=@clave
WHERE COD_USUARIO=@nombre;

INSERT INTO [dbo].[USUARIOH]
select *, @usuarioModificador as USUARIO_MODIFICADOR, getdate() as FECHA,3 as TIPO_MODIFICACION  from USUARIO where COD_USUARIO=@nombre;

end
GO
